<h1 class="page-title"><i class="fa-solid fa-arrow-pointer"></i> Click & pick:</h1>

<div class="poster-index">
  <% @posters.each do |poster| %>
    <%= link_to poster_path(poster) do %>
      <div class="card-product">
        <%= cl_image_tag poster.photo.key %>
        <div class="card-product-infos">
          <h1 class="card-title">
          <%= poster.band_name %>
          </h1>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%# INFO: The code below is for references only. Delete when no longer needed. %>
<%# if poster.photo.attached? %>
  <%# cl_image_tag poster.photo.key, height: 400, width: 250, crop: :fill %>
<%# end %>
