<h1>Posters</h1>

<div class="poster-index">
  <% @posters.each do |poster| %>
    <%= link_to poster_path(poster) do %>
      <div class="card-product">
        <%= cl_image_tag poster.photo.key %>
        <div class="card-product-infos">
          <h1 class="card-title">
          <%= poster.band_name %>
          </h1>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
