// Define variables for your color scheme

// For example:
$red: rgb(254, 51, 37);
$blue: #b3e6f9;
$yellow: rgb(255, 235, 122);
$green: rgb(138, 252, 186);
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
