
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url(https://wallpapers.com/images/hd/cute-bts-group-lined-up-in-pastel-colors-keu8km5u1209cmfy.jpg">
      <div class="container">
        <h1 class="home-title shimmer">Welcome to BOY BAND POSTERS!</h1>

        <h2>Made for poster aficionados</h2>
        <h6 id="description">Find vintage posters<br>
                            <br>
                            MAKE $$ - list your poster!</h6>
      </div>
    </div>
<%#
<p class="shimmer">Shimmering Word</p>
<img src="https://i.stack.imgur.com/MeQxk.png"class="shimmer" /> %>

    <div class="marquee-track">
      <hr>
        <container class="marquee-container">
          <marquee>
            <pre id="marquee">ABBA   |   BACKSTREET BOYS   |   THE BEATLES   |   BTS   |   HANNAH MONTANNA   |   JONAS BROTHERS   |   NSYNC   |   ONE DIRECTION   |   SPICE GIRLS</pre>
          </marquee>
        </container>
      <hr>
    </div>
