
<!DOCTYPE html>
<html>
  <head>
    <title>BoyBandPosters Home</title>

    <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://m.media-amazon.com/images/M/MV5BMDQ2MmJiYTUtNjhjYy00YzE5LTkzN2EtNWQ3NDg0ZGI5YTczXkEyXkFqcGdeQXVyNDYzNDg2MTM@._V1_.jpg);">
      <div class="container">
        <h1>Welcome to Boy <strong>Band Posters</strong>!</h1>
        <h2>An online community for poster aficionados</h2>
        <p id="description">-Users can search for and rent posters<br><br>-Owners can lease their posters to others</p>
      </div>
    </div>

    <div>
      <hr>
        <marquee>
        <pre id="marquee">  ABBA   |   BACKSTREET BOYS   |   THE BEATLES   |   BTS   |   HANNAH MONTANNA   |   JONAS BROTHERS   |   NSYNC   |   ONE DIRECTION   |   SPICE GIRLS</pre>
        </marquee>
      <hr>
    </div>
  </body>

</html>
