
<!DOCTYPE html>
<html>
  <head>
    <title>BoyBandPosters Home</title>

    <%= stylesheet_link_tag "_home", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://m.media-amazon.com/images/M/MV5BMDQ2MmJiYTUtNjhjYy00YzE5LTkzN2EtNWQ3NDg0ZGI5YTczXkEyXkFqcGdeQXVyNDYzNDg2MTM@._V1_.jpg);">
      <div class="container">
        <h1>Welcome to Boy Band Posters!</h1>
        <h2>An online community for poster aficionados</h2>
        <p id="description">DISCOVER RARE & VINTAGE POSTERS<br>
                            <br>
                            MAKE $ BY LISTING YOUR OWN POSTER</p>
      </div>
    </div>

    <div>
      <hr>
        <container class="marquee-container">
          <marquee>
            <pre id="marquee">ABBA   |   BACKSTREET BOYS   |   THE BEATLES   |   BTS   |   HANNAH MONTANNA   |   JONAS BROTHERS   |   NSYNC   |   ONE DIRECTION   |   SPICE GIRLS</pre>
          </marquee>
        </container>
      <hr>
    </div>
  </body>

</html>
