.card-product {
  overflow: hidden;
  height: 250px;
  background: pink;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 200px;
  margin-right: 200px;
}

.card-product:hover {

}

.card-title {
  text-decoration: none;
  font-weight: 400;
  font-size: 100px;
  color: #b3e6f9;
  text-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.card-product img {
  height: 100%;
  width: 160px;
  object-fit: cover;
  padding: 10px;
  margin-right: 50px;
}

.poster-index a {
  text-decoration: none;
  color: blue($color: #000000);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
