.card-product {
  overflow: hidden;
  height: 150px;
  background: $blue;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 3px;
}

.home-title {
  font-family: handjet;
}

.card-product:hover {
  overflow: hidden;
  height: 185px;
  background: $yellow;
  box-shadow: 0 0 15px rgba(0,0,0,1);
  display: flex;
  align-items: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 155px;
  margin-right: 230px;
}

.card-title {
  font-family: handjet;
  text-decoration: none;
  font-weight: 900;
  font-size: 90px;
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0,0,0,1);
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  padding: 10px;
  margin-right: 50px;
}



.poster-index a {
  text-decoration: none;
  // color: blue($color: #000000);
  // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.poster-button {
  background-color: $yellow;
  border-radius: 3px;
  border: none;
}

.poster-button:hover {
  background-color: $green;
  box-shadow: 0 0 9px rgba(0,0,0,1);
  color: white;
}
